permissions:
  contents: read
name: Build Native

on:
  # must be triggered by build.yml
  workflow_call:
    inputs:
      head_sha:
        description: 'The commit SHA to checkout'
        required: false
        type: string

jobs:
  build-linux-x64-musl:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          ref: ${{ inputs.head_sha || github.sha }}

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 25
          distribution: 'graalvm'
          cache: maven

      - name: Retrieve musl toolchain from cache
        id: musl-toolchain-cache
        uses: actions/cache/restore@v4.3.0
        with:
          path: ~/.musl-toolchain
          key: jfmt-musl-toolchain-11

      - name: Get musl toolchain and compile libz against it
        shell: bash
        id: prepare-musl
        run: |
          echo "Downloading musl toolchain and compiling zlib against it..."
          mkdir -p ~/.musl-toolchain
          pushd ~/.musl-toolchain
          if [ ! -f x86_64-linux-musl-native.tgz ]; then
            curl \
                --silent \
                --show-error \
                --fail-with-body \
                --connect-timeout 5 \
                --max-time 50 \
                --retry 5 \
                --retry-delay 0 \
                --retry-max-time 40 \
                --user "${MUSL_TOOLCHAIN_USER}:${MUSL_TOOLCHAIN_PASS}" \
                --location \
                --remote-name \
                --remote-header-name \
                --url "${MUSL_TOOLCHAIN_LOCATION}/11/x86_64-linux-musl-native.tgz"
          fi
          popd
          
          TMP_DIR=$(mktemp -d)
          pushd $TMP_DIR
          tar -xvf ~/.musl-toolchain/x86_64-linux-musl-native.tgz
          
          echo "Downloading and compiling zlib 1.3..."
          curl -LOJ "https://zlib.net/fossils/zlib-1.3.tar.gz"
          tar -xzf zlib-1.3.tar.gz
          cd zlib-1.3
          
          TOOLCHAIN_DIR=$TMP_DIR/x86_64-linux-musl-native
          CC=$TOOLCHAIN_DIR/bin/gcc
          
          echo "Configuring and installing zlib..."
          ./configure --prefix=$TOOLCHAIN_DIR --static
          make
          make install
          
          echo "Prepared musl toolchain at $TOOLCHAIN_DIR"
          echo "TOOLCHAIN_DIR=$TOOLCHAIN_DIR" >> $GITHUB_OUTPUT
        env:
          MUSL_TOOLCHAIN_LOCATION: ${{ secrets.MUSL_TOOLCHAIN_LOCATION }}
          MUSL_TOOLCHAIN_USER: ${{ secrets.MUSL_TOOLCHAIN_USER }}
          MUSL_TOOLCHAIN_PASS: ${{ secrets.MUSL_TOOLCHAIN_PASS }}

      - name: Save musl toolchain to cache
        uses: actions/cache/save@v4.3.0
        with:
          path: ~/.musl-toolchain
          key: jfmt-musl-toolchain-11

      - name: Cache Maven packages
        id: restore-maven-package-cache
        uses: actions/cache/restore@v4.3.0
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build static native image for Linux
        run: |
          PATH="${TOOLCHAIN_DIR}/bin:${PATH}"
          export PATH
          ./mvnw -B -Pci,native,dist-linux package
        env:
          TOOLCHAIN_DIR: ${{ steps.prepare-musl.outputs.TOOLCHAIN_DIR }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: artifacts-ubuntu-latest
          path: |
            cli/target/distributions/*.zip
            cli/target/distributions/*.tar.gz
            cli/target/jreleaser/assemble/jfmt/java-archive/*.zip
            cli/target/jreleaser/assemble/jfmt/java-archive/*.tar.gz

      - name: Save downloaded Maven packages
        uses: actions/cache/save@v4.3.0
        with:
          path: ~/.m2
          key: ${{ steps.restore-maven-package-cache.outputs.cache-primary-key }}
        if: github.event.workflow_run.event != 'pull_request'

  # 2nd part: build other platforms
  build-others:
    name: Build ${{ matrix.target }}
    needs: build-linux-x64-musl
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: macos-x64
            os: macos-13
            arch: x64
          - target: macos-aarch64
            os: macos-14
            arch: aarch64
          - target: windows-x64
            os: windows-2022
            arch: x64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
          ref: ${{ inputs.head_sha || github.sha }}

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 25
          distribution: 'graalvm'
          cache: maven

      - name: Retrieve musl toolchain from cache
        id: musl-toolchain-cache
        if: matrix.os == 'ubuntu-latest'
        uses: actions/cache/restore@v4.3.0
        with:
          path: ~/.musl-toolchain
          key: jfmt-musl-toolchain-11

      - name: Get musl toolchain and compile libz against it
        id: prepare-musl
        if: matrix.os == 'ubuntu-latest'
        run: |
          mkdir -p ~/.musl-toolchain
          pushd ~/.musl-toolchain
          if [ ! -f x86_64-linux-musl-native.tgz ]; then
            curl \
                --silent \
                --show-error \
                --fail-with-body \
                --connect-timeout 5 \
                --max-time 50 \
                --retry 5 \
                --retry-delay 0 \
                --retry-max-time 40 \
                --user "${MUSL_TOOLCHAIN_USER}:${MUSL_TOOLCHAIN_PASS}" \
                --location \
                --remote-name \
                --remote-header-name \
                "${MUSL_TOOLCHAIN_LOCATION}/11/x86_64-linux-musl-native.tgz"
          fi
          popd
          
          TMP_DIR=$(mktemp -d)
          pushd $TMP_DIR
          tar -xvf ~/.musl-toolchain/x86_64-linux-musl-native.tgz
          
          curl -LOJ https://zlib.net/fossils/zlib-1.3.tar.gz
          tar -xzf zlib-1.3.tar.gz
          cd zlib-1.3
          
          TOOLCHAIN_DIR=$TMP_DIR/x86_64-linux-musl-native
          CC=$TOOLCHAIN_DIR/bin/gcc
          
          ./configure --prefix=$TOOLCHAIN_DIR --static
          make
          make install
          
          echo "TOOLCHAIN_DIR=$TOOLCHAIN_DIR" >> $GITHUB_OUTPUT
        env:
          MUSL_TOOLCHAIN_LOCATION: ${{ secrets.MUSL_TOOLCHAIN_LOCATION }}
          MUSL_TOOLCHAIN_USER: ${{ secrets.MUSL_TOOLCHAIN_USER }}
          MUSL_TOOLCHAIN_PASS: ${{ secrets.MUSL_TOOLCHAIN_PASS }}

      - name: Save musl toolchain to cache
        uses: actions/cache/save@v4.3.0
        if: matrix.os == 'ubuntu-latest'
        with:
          path: ~/.musl-toolchain
          key: jfmt-musl-toolchain-11

      - name: Cache Maven packages
        id: restore-maven-package-cache
        uses: actions/cache/restore@v4.3.0
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build static native image for Linux
        run: |
          PATH="${TOOLCHAIN_DIR}/bin:${PATH}"
          export PATH
          ./mvnw --batch-mode -Pnative,dist-linux package
        env:
          TOOLCHAIN_DIR: ${{ steps.prepare-musl.outputs.TOOLCHAIN_DIR }}
        if: matrix.os == 'ubuntu-latest'

      - name: Build static native image for Windows / macOS
        shell: bash
        run: |
          ./mvnw --batch-mode -Pnative package
        if: matrix.os != 'ubuntu-latest'

      - name: Save downloaded Maven packages
        uses: actions/cache/save@v4.3.0
        with:
          path: ~/.m2
          key: ${{ steps.restore-maven-package-cache.outputs.cache-primary-key }}
        if: github.event.workflow_run.event != 'pull_request'

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5.0.0
        with:
          name: artifacts-${{ matrix.os }}
          path: |
            cli/target/distributions/*.zip
            cli/target/distributions/*.tar.gz
