permissions:
  # required for codecov OIDC token
  id-token: write
  contents: read
name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: contains(github.event.head_commit.message, 'Releasing version') != true && contains(github.event.head_commit.message, 'Prepare next version') != true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: 25
          distribution: 'temurin'
          cache: maven

      - name: Cache Maven local repository
        id: restore-maven-package-cache
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m22-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and test all
        run: ./mvnw --batch-mode --strict-checksum --errors spotless:check verify -Pci

      - name: Build JAR archive for release
        run: ./mvnw --batch-mode -Prelease package -DskipTests -pl cli -am
        if: github.event_name != 'pull_request'

      - name: Upload JAR archive artifact
        uses: actions/upload-artifact@v5.0.0
        if: github.event_name != 'pull_request'
        with:
          name: jfmt-jar-archive
          path: |
            cli/target/jreleaser/assemble/jfmt/java-archive/*.zip
            cli/target/jreleaser/assemble/jfmt/java-archive/*.tar.gz
          retention-days: 1

      - name: Upload coverage reports to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          use_oidc: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          fail_ci_if_error: true
          use_oidc: true

      - name: Save downloaded Maven packages
        uses: actions/cache/save@v4.3.0
        with:
          path: ~/.m2
          key: ${{ steps.restore-maven-package-cache.outputs.cache-primary-key }}
        if: github.event_name != 'pull_request'

  call-native:
    uses: ./.github/workflows/build-native.yml
    with:
      head_sha: ${{ github.sha }}
    secrets: inherit
    needs: build
